{% extends "index.html" %}
{% block content %}
{% load static %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <!-- Introducción al Riesgo -->
    <section class="bg-blue-600 text-white text-center py-16 md:py-24">
        <h1 class="text-4xl font-extrabold mb-4">Riesgos de Operación</h1>
        <p class="text-lg md:text-xl mb-6 leading-relaxed">Explora cómo los riesgos operacionales pueden impactar en tu empresa y aprende cómo gestionarlos de manera efectiva.</p>
    </section>

    <!-- ¿Qué es el Riesgo? -->
    <section class="my-12">
        <h2 class="text-3xl font-bold text-center mb-8 text-purple-700">¿Qué es el Riesgo?</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-yellow-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-purple-700">Definición</h3>
                <p>Es la posibilidad de que un evento ocurra e impacte negativamente los objetivos de la empresa. Puede causar pérdidas económicas debido a decisiones o acciones específicas.</p>
            </div>
            <div class="bg-yellow-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-purple-700">Naturaleza del Riesgo</h3>
                <p>El riesgo es inherente a cualquier negocio y no es intrínsecamente bueno ni malo.</p>
            </div>
            <div class="bg-yellow-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-purple-700">Conceptos Básicos de Gestión de Riesgo</h3>
                <ul class="list-disc list-inside">
                    <li><strong>Evento:</strong> Suceso, interno o externo, que puede originar consecuencias.</li>
                    <li><strong>Impacto:</strong> Consecuencias del evento, generalmente expresadas en términos monetarios como pérdidas.</li>
                    <li><strong>Probabilidad:</strong> Posibilidad de que ocurra un evento, a menudo estimada con distribuciones estadísticas.</li>
                </ul>
            </div>
            <div class="bg-yellow-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <img src="{% static 'dashboard/src/images/riesgos/imagen.jpg' %}" alt="Conceptos de Riesgo" class="rounded-lg shadow-lg">
            </div>
        </div>
    </section>

    <!-- Riesgo Operacional -->
    <section class="my-12">
        <h2 class="text-3xl font-bold text-center mb-8 text-green-700">Riesgo Operacional</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-green-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-green-700">Definición</h3>
                <p>Pérdidas financieras causadas por fallos en procesos internos, tecnología, personal o eventos externos. Incluye el riesgo legal, pero excluye el riesgo estratégico y de reputación.</p>
            </div>
            <div class="bg-green-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-green-700">Ejemplos</h3>
                <ul class="list-disc list-inside">
                    <li>Robos</li>
                    <li>Fraudes</li>
                    <li>Fallos en sistemas</li>
                    <li>Daños por desastres naturales</li>
                    <li>Interrupciones de negocio</li>
                </ul>
            </div>
            <div class="bg-green-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <img src="{% static 'dashboard/src/images/riesgos/riesgopera.jpg' %}"  alt="Riesgo Operacional" class="rounded-lg shadow-lg">
            </div>
        </div>
    </section>

    <!-- Tipos de Eventos del Riesgo Operacional -->
    <section class="my-12">
        <h2 class="text-3xl font-bold text-center mb-8 text-indigo-700">Tipos de Eventos del Riesgo Operacional</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-indigo-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-indigo-700">Fraude Interno</h3>
                <p>Actos fraudulentos por parte de empleados, como malversación o evasión de políticas.</p>
            </div>
            <div class="bg-indigo-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-indigo-700">Fraude Externo</h3>
                <p>Actos fraudulentos cometidos por terceros, como robos o falsificaciones.</p>
            </div>
            <div class="bg-indigo-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-indigo-700">Relaciones Laborales y Seguridad</h3>
                <p>Incumplimiento de normativas laborales, seguridad en el trabajo, y problemas de diversidad o discriminación.</p>
            </div>
            <div class="bg-indigo-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-indigo-700">Clientes, Productos y Prácticas Empresariales</h3>
                <p>Fallos en el cumplimiento de obligaciones hacia clientes o problemas con el diseño de productos.</p>
            </div>
            <div class="bg-indigo-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-indigo-700">Daños a Activos Materiales</h3>
                <p>Pérdidas por daños a activos debido a desastres naturales o actos de vandalismo.</p>
            </div>
            <div class="bg-indigo-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-indigo-700">Interrupción del Negocio y Fallos en Sistemas</h3>
                <p>Pérdidas debido a interrupciones en servicios básicos o fallos en sistemas informáticos.</p>
            </div>
        </div>
    </section>

    <!-- Procesos de Gestión del Riesgo Operacional -->
    <section class="my-12">
        <h2 class="text-3xl font-bold text-center mb-8 text-teal-700">Procesos de Gestión del Riesgo Operacional</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-teal-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-teal-700">Matriz del Modelo Australiano</h3>
                <p>Utiliza una matriz para clasificar el riesgo según la probabilidad de ocurrencia y el impacto.</p>
            </div>
            <div class="bg-teal-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-teal-700">Estrategias de Manejo</h3>
                <ul class="list-disc list-inside">
                    <li><strong>Reducir:</strong> Minimizar el riesgo mediante controles y procesos.</li>
                    <li><strong>Evitar:</strong> Cambiar planes o estrategias para eliminar el riesgo.</li>
                    <li><strong>Aceptar:</strong> Aceptar el riesgo cuando es bajo o los costos de mitigación son altos.</li>
                    <li><strong>Transferir:</strong> Pasar el riesgo a terceros, como en el caso de seguros.</li>
                </ul>
            </div>
            <div class="bg-teal-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <img src="{% static 'dashboard/src/images/riesgos/imagen.jpg' %}" alt="Gestión del Riesgo" class="rounded-lg shadow-lg">
            </div>
        </div>
    </section>

    <!-- ¿Qué es el Riesgo? -->
    <section class="my-12">
        <h2 class="text-3xl font-bold text-center mb-8">EJEMPLOS</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Tarjetas con Información de los Tipos de Riesgo -->
            <!-- Fraude Interno -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Fraude Interno</h3>
                <p><strong>Ejemplo:</strong> Un empleado de Intel en el departamento de compras realiza pedidos inflados de suministros y desvia el excedente para su uso personal o para venderlo en el mercado negro.</p>
                <p><strong>Impacto:</strong> Esto podría resultar en pérdidas financieras significativas y podría dañar la reputación de la empresa si se descubre que existen controles internos insuficientes para detectar y prevenir tales actos.</p>
            </div>

            <!-- Fraude Externo -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Fraude Externo</h3>
                <p><strong>Ejemplo:</strong> Un hacker externo accede a la base de datos de clientes de Intel y realiza transacciones fraudulentas, lo que resulta en la exposición de datos confidenciales.</p>
                <p><strong>Impacto:</strong> El impacto incluiría pérdidas financieras por la necesidad de gestionar el incidente y restaurar la seguridad, así como potenciales demandas legales y daños a la confianza del cliente.</p>
            </div>

            <!-- Relaciones Laborales y Seguridad -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Relaciones Laborales y Seguridad</h3>
                <p><strong>Ejemplo:</strong> Un trabajador en una planta de fabricación de Intel sufre un accidente grave debido a la falta de mantenimiento adecuado de la maquinaria.</p>
                <p><strong>Impacto:</strong> Este incidente podría llevar a costosos litigios, sanciones regulatorias por incumplimiento de las normativas de seguridad laboral, y una disminución de la moral entre los empleados.</p>
            </div>

            <!-- Clientes, Productos y Prácticas Empresariales -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Clientes, Productos y Prácticas Empresariales</h3>
                <p><strong>Ejemplo:</strong> Intel lanza un nuevo microprocesador que, debido a un defecto no detectado, causa fallos en los equipos de los clientes empresariales que lo utilizan.</p>
                <p><strong>Impacto:</strong> Esto podría resultar en un retiro masivo del producto, daños a la reputación de Intel, y una disminución en las ventas futuras debido a la pérdida de confianza de los clientes.</p>
            </div>

            <!-- Daños a Activos Materiales -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Daños a Activos Materiales</h3>
                <p><strong>Ejemplo:</strong> Un terremoto daña seriamente una de las plantas de fabricación de Intel en Asia, destruyendo maquinaria costosa y parando la producción por semanas.</p>
                <p><strong>Impacto:</strong> Las pérdidas incluyen los costos de reparación, la sustitución de la maquinaria, la pérdida de producción, y la posible pérdida de participación en el mercado si los competidores llenan el vacío durante la interrupción.</p>
            </div>

            <!-- Interrupción del Negocio y Fallos en Sistemas -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Interrupción del Negocio y Fallos en Sistemas</h3>
                <p><strong>Ejemplo:</strong> Un fallo en el sistema de TI que gestiona la cadena de suministro global de Intel interrumpe la producción en varias fábricas durante 24 horas.</p>
                <p><strong>Impacto:</strong> Esto podría resultar en retrasos en la entrega de productos a los clientes, penalizaciones contractuales, y una pérdida de ingresos debido a la paralización de la producción.</p>
            </div>

            <!-- Ejecución, Entrega y Gestión de Procesos -->
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Ejecución, Entrega y Gestión de Procesos</h3>
                <p><strong>Ejemplo:</strong> Un error en la planificación de la producción lleva a un exceso de inventario de ciertos productos que luego se vuelven obsoletos debido a la rápida evolución tecnológica.</p>
                <p><strong>Impacto:</strong> Esto puede resultar en pérdidas financieras significativas debido al almacenamiento y eventual liquidación de productos obsoletos a precios reducidos.</p>
            </div>
        </div>
    </section>




    <!-- Call to Action Section -->
    <section id="contact" class="bg-blue-600 text-white text-center py-16">
        <h2 class="text-3xl font-bold mb-4">¿Listo para Gestionar Tus Riesgos?</h2>
        <p class="text-lg md:text-xl mb-6 leading-relaxed">Contáctanos para obtener asesoramiento experto en gestión de riesgos operacionales.</p>
        <a href="mailto:contacto@tuempresa.com" class="bg-white text-blue-600 px-6 py-3 rounded-lg font-semibold hover:bg-gray-200 transition duration-300">Enviar Correo</a>
    </section>
</div>











{% endblock %}
