{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
            Responsabilidad Social Empresarial (RSE) en Intel
        </h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li>
                    <a class="font-medium" href="index.html">Dashboard /</a>
                </li>
                <li class="font-medium text-primary">RSE Intel</li>
            </ol>
        </nav>
    </div>
    <div class="grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
        <!-- Definición y Objetivos -->
        <div class="col-span-12 lg:col-span-8">
            <div class="rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark">
                <h3 class="text-xl font-bold text-black dark:text-white mb-4">
                    Definición en el Contexto de Intel
                </h3>
                <p class="text-base text-black dark:text-white">
                    Para Intel, la RSE significa liderar con innovación responsable, impulsando el progreso tecnológico mientras se abordan desafíos globales en sostenibilidad, ética y desarrollo social.
                </p>
                <h3 class="text-xl font-bold text-black dark:text-white mt-6 mb-4">
                    Objetivos Estratégicos de RSE para Intel
                </h3>
                <ul class="list-disc pl-5 text-base text-black dark:text-white">
                    <li>- Innovar en tecnologías de eficiencia energética y reducción de emisiones.</li>
                    <li>- Fortalecer la cadena de suministro ética y sostenible.</li>
                    <li>- Impulsar la diversidad e inclusión en la industria tecnológica.</li>
                    <li>- Promover la educación STEM y cerrar la brecha digital.</li>
                    <li>- Liderar en prácticas de gobernanza corporativa y ética empresarial.</li>
                </ul>
            </div>
        </div>
        <!-- Imagen 1 -->
        <div class="col-span-12 lg:col-span-4">
            <div class="h-full rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark flex items-center justify-center">
                <img src="{% static 'dashboard/build/src/images/RSE/portada-empresa.png' %}" class="object-cover w-full h-auto rounded">
            </div>
        </div>
    
        <!-- Áreas de Enfoque de RSE en Intel -->
        <div class="col-span-12 xl:col-span-7">
            <div class="rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark">
                <h2 class="text-title-md2 font-bold text-black dark:text-white mb-4">
                    Áreas de Enfoque de RSE en Intel
                </h2>
                <ul class="list-disc pl-5 text-2xl text-black dark:text-white">
                    <li>Sostenibilidad Ambiental y Eficiencia Energética</li>
                    <li>Innovación Responsable y Ética en IA</li>
                    <li>Diversidad, Equidad e Inclusión en Tecnología</li>
                    <li>Cadena de Suministro Sostenible y Derechos Humanos</li>
                    <li>Educación STEM y Desarrollo de Habilidades Digitales</li>
                    <li>Seguridad y Privacidad de Datos</li>
                </ul>
            </div>
        </div>
        <!-- Imagen 2 -->
        <div class="col-span-12 xl:col-span-5">
            <div class="h-full rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark flex items-center justify-center">
                <img src="{% static 'dashboard/build/src/images/RSE/grupo.png' %}" alt="Descripción de la imagen 2" class="object-cover w-full h-auto rounded">
            </div>
        </div>
    
        <!-- Beneficios de la RSE para Intel -->
        <div class="col-span-12 xl:col-span-5">
            <div class="rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark">
                <h3 class="text-xl font-bold text-black dark:text-white mb-4">
                    Beneficios Estratégicos
                </h3>
                <ul class="list-disc pl-5 text-base text-black dark:text-white">
                    <li>Liderazgo en innovación sostenible en semiconductores.</li>
                    <li>Atracción y retención de talento diverso y de alta calidad.</li>
                    <li>Fortalecimiento de relaciones con gobiernos y reguladores.</li>
                    <li>Mitigación de riesgos en la cadena de suministro global.</li>
                    <li>Diferenciación de marca en un mercado tecnológico competitivo.</li>
                    <li>Acceso a nuevos mercados y oportunidades de negocio sostenibles.</li>
                </ul>
            </div>
        </div>
        <!-- Imagen 3 -->
        <div class="col-span-12 xl:col-span-7">
            <div class="h-full rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark flex items-center justify-center">
                <img src="ruta_de_tu_imagen_3.jpg" alt="Descripción de la imagen 3" class="object-cover w-full h-auto rounded">
            </div>
        </div>
    
        <!-- Estrategias Empresariales de Intel -->
        <div class="col-span-12 xl:col-span-7">
            <div class="rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark">
                <h3 class="text-xl font-bold text-black dark:text-white mb-4">
                    Estrategias Empresariales de Intel en RSE
                </h3>
                <div class="text-base text-black dark:text-white space-y-3">
                    <p><strong>Innovación Sostenible:</strong> Desarrollo de chips de bajo consumo y tecnologías para centros de datos eficientes.</p>
                    <p><strong>Diversidad Tecnológica:</strong> Programas de inclusión en ingeniería y liderazgo en tecnología para grupos subrepresentados.</p>
                    <p><strong>Ética en IA:</strong> Desarrollo de frameworks éticos para la inteligencia artificial y el aprendizaje automático.</p>
                    <p><strong>Economía Circular:</strong> Iniciativas de reciclaje de componentes electrónicos y reducción de residuos en la fabricación.</p>
                </div>
            </div>
            
        </div>
        <div class="col-span-12 xl:col-span-5">
            <div class="h-full rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark flex items-center justify-center">
                <img src="ruta_de_tu_imagen_3.jpg" alt="Descripción de la imagen 3" class="object-cover w-full h-auto rounded">
            </div>
        </div>
    
        <!-- Gestión de Clientes en Intel -->
        <div class="col-span-12 xl:col-span-5">
            <div class="h-full rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark flex items-center justify-center">
                <img src="ruta_de_tu_imagen_3.jpg" alt="Descripción de la imagen 3" class="object-cover w-full h-auto rounded">
            </div>
        </div>
        <div class="col-span-12 xl:col-span-7">
            <div class="rounded-sm border border-stroke bg-white p-7.5 shadow-default dark:border-strokedark dark:bg-boxdark mt-10">
                <h2 class="text-title-md2 font-bold text-black dark:text-white mb-6">
                    Gestión de Clientes en Intel
                </h2>
                <h3 class="text-xl font-bold text-black dark:text-white mb-4">
                    Importancia del Seguimiento de Clientes en el Sector Tecnológico
                </h3>
                <ul class="list-disc pl-5 text-base text-black dark:text-white">
                    <li>Desarrollo de Soluciones Personalizadas</li>
                    <li>Anticipación de Tendencias Tecnológicas</li>
                    <li>Colaboración en I+D con Clientes Clave</li>
                </ul>
    
                <h3 class="text-xl font-bold text-black dark:text-white mt-6 mb-4">
                    Proceso de Gestión de Clientes en Intel
                </h3>
                <ol class="list-decimal pl-5 text-base text-black dark:text-white">
                    <li>Análisis de Necesidades Tecnológicas Avanzadas</li>
                    <li>Segmentación por Industria y Aplicación Tecnológica</li>
                    <li>Desarrollo de Soluciones de Hardware Personalizadas</li>
                    <li>Gestión de Cuentas Estratégicas y Partneriados Tecnológicos</li>
                    <li>Soporte Técnico Especializado y Consultoría</li>
                    <li>Análisis Predictivo de Demanda y Tendencias del Mercado</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
