
{% extends "index.html" %}
{% block content %}
{% load static %}
<nav>
    <ol class="flex items-center justify-end mx-8 mt-2">
        <li>
            <a class="font-medium" href="index.html">MANTENEDOR /</a>
        </li>   
        <li class="font-medium text-primary">Clientes</li>
    </ol>
</nav>

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <!-- Introducción al Riesgo -->
    <section class="bg-slate-700 text-white text-center py-6 md:py-6">
        <h1 class="text-4xl font-extrabold mb-4">GESTIÓN DE CLIENTES</h1>
        <p class="text-lg md:text-xl mb-6 leading-relaxed">¡Mejora la comunicación y optimizando cada interacción con tus clientes!</p>
    </section>

    <!-- ¿Qué es el Riesgo? -->
    <section class="my-8">
        <div class="py-5 bg-slate-300">
        <p class="p-2 text-black">La gestión de los clientes se ha convertido en un pilar fundamental para el éxito y la
            rentabilidad a largo plazo de cualquier compañía. En este sentido, tomar la decisión
            de implementar un sistema de gestión de clientes puede convertirse en una decisión
            estratégica que cambie el futuro de tu negocio. </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 py-4">
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="  text-slate-700 text-xl font-semibold mb-4">DEFINICIÓN</h3>
                <p> El seguimiento y gestión de clientes es el proceso de supervisión y análisis de las
                    diferentes etapas dentro de proceso de ventas. Por otro lado, es esencial para el éxito de un negocio, ya que un cliente satisfecho tiene más probabilidades de volver a comprar, aumentar el gasto en tu marca y  recomendarte entre sus conocidos.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class=" text-slate-700  text-xl font-semibold mb-4">OBJETIVO</h3>
                <p>Maximizar el valor de las relaciones con los clientes mediante la mejora continua de la satisfacción, la lealtad y la rentabilidad, asegurando que cada interacción genere valor tanto para el cliente como para la empresa, y fomentando relaciones duraderas y mutuamente beneficiosas.</p>
            </div>
            <div class="bg-slate-700 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-white">VENTAJAS</h3>
                <ul class="list-disc list-inside space-y-4 text-white">
                    <li><strong>Conocer mejor a tus clientes:</strong> Realizar el seguimiento
                        de clientes te ayudará a
                        reconocer sus hábitos
                        de consumo y predecir
                        sus necesidades.</li>
                    <li><strong>Identificar problemas con anticipación:</strong> Ten en cuenta que tus
                        clientes pueden requerir
                        atención en momentos
                        diversos; no solo cuando
                        experimentan problemas
                        con productos o servicios.</li>
                    <li><strong>Mejorar rendimiento de equipo de trabajo:</strong> El seguimiento de ventas
                        permite conocer mejor a
                        tus clientes y también
                        brinda datos puntuales
                        sobre el rendimiento de
                        tu equipo. 
                        </li>
                </ul>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-slate-700 ">PROCESO DE GESTIÓN DE CLIENTES</h3>
                <img src="{% static 'dashboard/build/src/images/crm/proceso.jpg' %}" alt="Conceptos de Riesgo" class="rounded-lg shadow-lg">
            </div>
        </div>
    </section>

    <!-- Riesgo Operacional -->
    <section class="my-12">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 flex justify-center items-center">
            <img src="{% static 'dashboard/build/src/images/crm/beneficios.jpg' %}" alt="Riesgo Operacional" class="">
            </div>
            <div class="bg-blue-200 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h2 class="text-3xl font-bold text-center mb-8 text-slate-700">BENEFICIOS</h2>
                <ul class="list-disc list-inside space-y-4 text-slate-700">
                    <li>Incremento en
                        la Fidelización
                        de Clientes</li>
                    <li> Crecimiento
                        en las Ventas</li>
                    <li>Eficiencia en la
                        Utilización de
                        Recursos</li>
                    <li>Mejora en la
                        Experiencia
                        del Cliente</li>
                    <li>Reducción de Costos Operativos</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Tipos de Eventos del Riesgo Operacional -->
    <section class="my-12">
        <h2 class="text-3xl font-bold text-center mb-8">TIPS</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 flex items-center">
                    <img src="{% static 'dashboard/build/src/images/crm/contacto.jpg' %}" alt="icono" class="w-12 h-12 mr-2">Proporcionar un punto de contacto principal</h3>
                <p>Asigna un representante de cuenta dedicado para cada cliente, asegurando una comunicación consistente y personalizada.</p>
            </div>
            <div class="bg-slate-700 text-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 flex items-center">
                    <img src="{% static 'dashboard/build/src/images/crm/vip.png' %}" alt="icono" class="w-12 h-12 mr-2">Implementar programas de cliente estratégico</h3>
                <p>Diseña programas que reconozcan a los clientes más leales con beneficios exclusivos, como acceso anticipado a tecnologías, descuentos especiales, o eventos VIP.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 flex items-center">
                    <img src="{% static 'dashboard/build/src/images/crm/actualizar.png' %}" alt="icono" class="w-14 h-14 mr-2">Maximizar el valor del ciclo de vida del producto</h3>
                <p>Proporciona a los clientes planes de actualización y mantenimiento para maximizar la vida útil y el rendimiento de los productos, incluyendo recomendaciones para futuras adquisiciones.</p>
            </div>
            <div class="bg-slate-700 text-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 flex items-center">
                    <img src="{% static 'dashboard/build/src/images/crm/objetivo.png' %}" alt="icono" class="w-12 h-12 mr-2">Alineación estratégica</h3>
                <p>Trabaja estrechamente con partners y clientes para establecer un objetivo común que beneficie a todas las partes. Organiza reuniones conjuntas donde se discutan y alineen las metas estratégicas, asegurando que todos estén comprometidos con el mismo propósito.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 flex items-center">
                    <img src="{% static 'dashboard/build/src/images/crm/capacitar.png' %}" alt="icono" class="w-12 h-12 mr-2">Desarrollar competencias en el equipo</h3>
                <p>Invierte en la formación continua de tu equipo en áreas clave como comunicación, negociación, y gestión de relaciones, asegurando que puedan ofrecer el más alto nivel de servicio..</p>
            </div>
            <div class="bg-slate-700 text-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 flex items-center">
                    <img src="{% static 'dashboard/build/src/images/crm/tecnologia.png' %}" alt="icono" class="w-12 h-12 mr-2">Incorporar tecnología avanzada en la gestión de clientes</h3>
                <p>Utiliza un sistema CRM avanzado para centralizar y analizar toda la información relacionada con los clientes, lo que permitirá una gestión más eficiente y personalizada.</p>
            </div>
        </div>
    </section>

    <!-- Procesos de Gestión del Riesgo Operacional -->
    <section class="my-8 space-y-4">
        <h2 class="text-3xl font-bold text-center mb-8">¿Qué hace un CRM?</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4 text-slate-700 ">"Customer Relationship Management - Plataforma"</h3>
                <p>El CRM almacena información de clientes actuales y potenciales (como nombre, dirección, número de teléfono, etc) e identifica sus actividades y puntos de contacto con la empresa. Esto incluye visitas de los clientes al sitio, llamadas telefónicas realizadas, intercambios por correo electrónico y varias otras interacciones. <br> Una plataforma de CRM:</p>
                <br>
                <img src="{% static 'dashboard/build/src/images/crm/plataforma.png' %}" alt="icono" class="w-auto h-auto mr-2">      
            </div>
            <div class="bg-slate-300 text-slate-700 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <h3 class="text-xl font-semibold mb-4">Aquí tienes algunos ejemplos de CRM que podrían ser adecuados para un entorno corporativo de alta tecnología</h3>
                <ul class="list-disc list-inside space-y-2">
                    <li><strong>Salesforce:</strong> Proporciona una visión integral de los clientes y partners, facilita la gestión de cuentas y oportunidades, y permite análisis avanzados para identificar tendencias y oportunidades de negocio.</li>
                    <li><strong>HubSpot CRM:</strong> Ideal para equipos que buscan una solución fácil de implementar y usar, con funcionalidades integradas de marketing y ventas para mejorar la comunicación y el seguimiento con clientes.</li>
                    <li><strong>SAP Customer Experience:</strong>  Ofrece una solución integrada para gestionar todas las interacciones con clientes y partners, con análisis y reporting avanzados que ayudan a tomar decisiones informadas.</li>
                    <li><strong>Zoho CRM:</strong> Proporciona una solución flexible y asequible con una amplia gama de funcionalidades para gestionar relaciones con clientes y optimizar los procesos de ventas.</li>
                </ul>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
            <img src="{% static 'dashboard/build/src/images/crm/ejemplos.jpg' %}" alt="Gestión del Riesgo">
        </div>
    </section>

    <!-- Call to Action Section -->
    <section id="contact" class="bg-slate-700 text-white text-center py-8">
        <h2 class="text-3xl font-bold mb-4">¿Listo para Gestionar Tus Clientes?</h2>
        <p class="text-lg md:text-xl mb-6 leading-relaxed">Contáctanos para obtener asesoramiento experto en gestión de clientes.</p>
        <a href="mailto:contacto@tuempresa.com" class="bg-white text-black red-600 px-6 py-3 rounded-lg font-semibold hover:bg-gray-200 transition duration-300">Enviar Correo</a>
    </section>
</div>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
